.add-product{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    /* width: 100%; */
    /* max-width: 800px; */
    margin: 20px 30px;
    border-radius: 6px;
    background: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.addproduct-itemfield{
    /* border: 1px solid blue; */
    /* width: 100%; */
    font-size: 16px;
    color: #7b7b7b;
}
.addproduct-thumbnail-img{
    /* border: 1px solid blue; */
    /* margin: 10px 0; */
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: contain;
    cursor: pointer;
}
.addproduct-btn{
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}